{% extends 'web_project/home.html' %}

{% load static %}

{% block content %}

  <div class="container p-4">
    <form action="/show/" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" name="title" class="form-control" placeholder="inserte un titulo">
        </div>
        <div class="form-group col-md-3">
          <input type="file" name="imagen" class="form-control" >
        </div>
        <div class="form-group col-md-12">
          <textarea class="form-control" name="description" placeholder="Ingresa cualquier webada " ></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-info">SEND</button>
    </form>
  </div>

{% endblock %}