{% extends 'web_project/home.html' %}

{% load static %}

{% block content %}

    <div class="container p-4">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id </th>
                    <th>Título </th>
                    <th>Contenido</th>
                    <th><strong><em>Procesos</em></strong></th>
                </tr>
            </thead>
            <tbody>

                {% for table in tables %}
                    <tr>
                        <td>{{table.id}}</td>
                        <td>{{table.titulo}}</td>
                        <td>{{table.contenido}}</td>
                        <td>
                            <a class="btn btn-info" href="#">Update</a>
                            <a class="btn btn-danger" href="#">Delete</a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}